/* Main Gallery 
================================ */
.gallery-container {
  width: 100%;
  margin-left: 0;
  text-align: center;
  position: relative; }
  .gallery-container h1, .gallery-container p {
    color: white;
    margin-bottom: 40px; }

.main-gallery:hover img {
  opacity: 0.2; }
.main-gallery li {
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  float: left;
  padding: 4px;
  margin: 0;
  position: relative; }

.gallery-container img:hover {
  opacity: 1;
  cursor: pointer; }

/* For Goatlings gallery */
@media screen and (min-width: 768px) {
  .main-gallery-goatlings {
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    column-count: 2;
    column-gap: 0px; }
    .main-gallery-goatlings:hover img {
      opacity: 0.2; }

  .gallery-container img:hover {
    opacity: 1;
    cursor: pointer; } }
/* For 3D Modeling gallery */
.main-gallery-modeling li {
  padding: 0 20px; }

@media screen and (min-width: 768px) {
  .main-gallery-modeling {
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    column-count: 2;
    column-gap: 0px; }
    .main-gallery-modeling:hover img {
      opacity: 0.2; }

  .gallery-container img:hover {
    opacity: 1;
    cursor: pointer; } }
/* Meida Queries ======================== */
@media screen and (min-width: 768px) {
  .main-gallery {
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    column-count: 2;
    column-gap: 0px;
    margin: 0;
    height: auto; }

  .gallery-container {
    padding-top: 40px;
    padding-left: 50px; } }
@media screen and (min-width: 1100px) {
  .main-gallery {
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    column-count: 3;
    column-gap: 0px;
    margin: 0;
    padding: 0;
    height: auto; } }
@media screen and (min-width: 1300px) {
  .main-gallery {
    -webkit-column-count: 4;
    -webkit-column-gap: 0px;
    -moz-column-count: 4;
    -moz-column-gap: 0px;
    column-count: 4;
    column-gap: 0px;
    margin: 0;
    padding: 0;
    height: auto; } }
