/* Color Palette
=============================== */
/* General Style
=============================== */
body {
  position: relative;
  padding: 0;
  margin: 0;
  background-color: #262626; }
  body h1 {
    text-transform: uppercase;
    letter-spacing: 3px; }
  body h1,
  body h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 0;
    color: #dedede;
    margin-bottom: 16px; }

/* For Mobile Devices
=============================== */
.header {
  background-color: #262626;
  padding-top: 20px;
  padding-left: 0;
  background-color: red; }
  .header .artist-pic {
    display: none; }

.nav {
  text-align: center; }

.nav a {
  background-color: #ffcbcb;
  display: block;
  margin: 10px;
  text-align: center;
  padding: 14px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #262626;
  text-decoration: none;
  border: 2px black solid; }
  .nav a:hover {
    background-color: #ffcbcb;
    color: #262626;
    border: 2px white solid; }

.gallery-menu {
  text-align: center;
  padding-top: 60px; }
  .gallery-menu .gallery-img {
    padding: 0;
    margin: 4px;
    border-radius: 30%;
    border: 2px #c8c8c8 solid; }
  .gallery-menu .description {
    text-align: center; }
    .gallery-menu .description p {
      color: #dedede;
      font-size: 1.4em;
      padding-bottom: 40px;
      font-family: 'Montserrat', sans-serif; }

.footer {
  width: 100%;
  height: 30px;
  bottom: 0;
  left: 0;
  margin-top: 20px;
  background: #262626; }
  .footer p {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #dedede;
    font-size: 0.8em; }

/* For Larger Devices
=============================== */
@media (min-width: 768px) {
  .header {
    padding-top: 80px;
    height: 100%; }
    .header h2, .header .artist-pic {
      text-align: left;
      padding-left: 60px; }
    .header h1 {
      text-align: left;
      padding-left: 40px;
      font-size: 2.5em; }
    .header h2 {
      font-size: 1.2em;
      padding-left: 60px; }
    .header .artist-pic {
      display: inline-block;
      max-width: 240px;
      padding-top: 20px; }
    .header .nav {
      padding-left: 40px;
      padding-top: 20px;
      max-width: 320px; }

  .gallery-menu {
    text-align: normal;
    background-color: blue; }
    .gallery-menu .gallery-img {
      position: relative;
      display: inline-block;
      width: 360px; } }
