/* Color Palette
=============================== */
$primary-color: #262626;
$text-color: #dedede;
$nav-color: #FFCBCB;


/* Page Styles
================================ */

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font: normal 1em/1.5 sans-serif;
	color: #222;
	background-color: $primary-color;
	margin: 0;
	padding: 0;
	height: 100%;
}
.main-header {
	padding-bottom: 0;
	text-align: center;
	.artist-pic { display: none; }
	h1 a {
		color: $text-color;
		text-decoration: none;
		font-weight: 500;
		margin: 0;
		font-size: 1.2em;
		font-family:'Montserrat', sans-serif;
	}
	h2 {
		color: $text-color;
		font-size: 1em;
		font-weight: 500;
	}
	.main-nav a {
		background-color: $nav-color;
		display: block;
		text-align: center;
		margin: 2px;
		padding: 10px;
		font-family: 'Lato', sans-serif;
		font-weight: 700; font-size: 1.1em;
		color: $primary-color;
		text-decoration: none;
		border: 2px black solid;
		letter-spacing: 5px;
		&:hover {
			border: inset 1px #fff;
		}
	}
}
.gallery-menu {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 100px;
	#overlay {display: none;}
	.gallery-img {
		padding-bottom: 0;
		margin: 0;
		border-radius: 30%;
		max-width: 300px;
		min-width: 100px;
	}
	.description {
		text-align: center;
		p {
			color: $text-color;
			font-size: 1.4em;
			font-family: 'Montserrat', sans-serif;
			padding: 0;
		}
	}
}
.main-footer {
	width: 100%;
	height: 30px;
	text-align: center;
	background: $primary-color;
	clear: both;
	padding:1% 0 1% 0; 
	p {
		font-family: 'Lato', sans-serif;	
		color: $text-color;
		padding-bottom: 10px;
		font-size: 0.9em;
	}
}

/* Page Styles for Larger Devices
================================== */

@media (min-width: 768px) { 

	.main-header {
		padding-top: 150px;
		padding-left: 50px;
		margin: 0;
		min-width: 230px;
		max-width: 300px;
		.artist-pic {
			display: inline-block;
			padding-bottom: 4px;
			max-width: 214px;
		}
		h1 {
			margin: 0;
		}
		h2 {
			padding-bottom: 20px;
		}
		.main-nav {
			a {
				margin-top: 12px;
				margin-left: 10px;
				padding: 4px;
				color: $text-color;
				background-color: $primary-color;
				width: 90%;
				&:hover {
					border: 2px white solid;
					transition: 0.3s ease;
				}
			}
		}
	}

	#overlay {
	  background:rgba(0,0,0,0.8);
	  width:100%;
	  height:100%;
	  position:absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  text-align:center;
	  border-radius: 30%;
	  display: none;
	  p {
		color: white;
		font-size: 2em;
		text-decoration: none;
		}
	}
	.gallery-menu {
		padding-top: 70px;
		padding-left: 30px;
		padding-right: 100px;
		li {
			padding-bottom: 20px;
			display: inline-block;
			padding: 20px 20px;
			position: relative;
			.gallery-img, .special {
				min-width: 300px;
				max-width: 400px;
				position: relative;
				overflow: hidden;
				max-height: 300px;	
			}
			.special:hover {
				#overlay { display: initial; }
				#caption { display: initial; }
				.gallery-img {
					filter: grayscale(100%);
				}
				
			}
			.description {
				display: none;
			}
		}
	}
}

@media (min-width: 1px) and (max-width: 767px)  {
	.main-nav li {
		margin-top: 12px;
	}
}